/* .fullWidthGrid {
    display: flex !important;
    justify-content: center !important;
    
} */
.Student {
    max-width: 500px;
    margin: auto;
    
}




.student__form {
    display: flex;
    flex-direction: column;
}